@font-face {
    font-family: Roboto; /* Имя шрифта */
    src: url(fonts/roboto.woff); /* Путь к файлу со шрифтом */
   }
body{
    margin:0 20px;
    padding: 0;
    background-color: #849d8f;
    font-family: Roboto;
}
.navigation{
    display: flex;
    height: 80px;
}
ul{
    display:flex;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 80px;
}

/*MAIN-NAVIGATION*/
.main-navigation{
    margin-right: auto;
}
.main-navigation>ul>li{
    margin-right: 30px;
}
.main-navigation>ul>li>a{
    color:#fff;
    text-decoration: none;
    border-bottom: #c6d9ce 1px solid;
    font-size: 16px;

}
.main-navigation>ul>li>a:hover{
    padding-bottom: 5px;
}
.droped{
    display:none;
    position: absolute;
    z-index: 10;
    flex-direction: column;
    align-items: flex-start;
    height: 176px;
    width: 145px;
    background-color: #fff;
    border-radius:5px;
    top:53px;
    left:185px;
    box-shadow: black -5px 10px 50px;
}
.dropped:hover>.droped{
    display:block
}

.droped>li:first-child{
    border-bottom:0.5px solid #a2a2a0
}
.droped li:hover{
    background-color:#fbded8;
    border-radius: 5px;
}
.bold{
    font-weight: bold;
    color:black !important;
}
.droped a{
    text-decoration: none;
    color: #a2a2a0;
    font-size: 14px;
    display: block;
    padding: 9px 20px;
    width: 105px;
}
.logo img{
    cursor: pointer;
}

/*USER NAVIGATION*/

.user-navigation>ul>li{
    margin-right: 10px;
}
.search{
    width: 33px;
    height: 33px;
    background-color:rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-image: url('img/loupe.svg');
    background-position: center;
    background-repeat:no-repeat; 
    cursor: pointer;
}
.search:hover{
    background-color:#fff;
    background-image: url('img/loupe-black.png');
    background-position: center;
    background-repeat:no-repeat; 
}

.search:hover>.divsearch{
    display:block;
}

.divsearch{
    display:none;
    position: absolute;
    top:58px;
    right: 255px;
    z-index: 100;
    width: 340px;
    height: 80px;
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: black -5px 10px 50px;
}
.divsearch input[type="search"]{
    width: 305px;
    height: 40px;
    border-radius: 5px;
    border:#d3d3d2 1px solid;
    display: block;
    margin: 20px auto;
    padding: 0 10px;
}
.divsearch input[type="search"]::placeholder{
    color:#b8b8b8;
}

.sign{
    display:flex;
    align-items: center;
    color:#fff;
    width: 90px;
    height: 33px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    cursor: pointer;
}
.sign img{
    margin:10px;
}
.sign:hover{
    background-color: #fff;
    color:black;

}
.sign:hover>img{
    filter: invert(1);
}

.sign:hover>.signin{
    display: block;
}

.signin{
    position: absolute;
    top: 58px;
    right: 156px;
    z-index: 100;
    height: 210px;
    width: 280px;
    background-color: #f8f7f4;
    border-radius: 5px;
    display: none;
    box-shadow: black -5px 10px 50px;
}
.signin button{
    width: 100px;
    height: 45px;
    background-color: #ef6140;
    border: none;
    color:#fff;
    border-radius: 20px;
    cursor: pointer;
    margin-left:20px;
    font-size: 18px; 
}

.registr{
    width: 155px;
    height: 50px;
    float: right;
}
.signin a{
    display: block;
    margin: 3px;
    color:#5a5a59;
}

.signin input[type="email"],.signin input[type="password"]{
    width: 220px;
    height: 40px;
    border-radius: 5px;
    border:#d3d3d2 1px solid;
    display: block;
    margin: 20px auto;
    padding: 0 10px;
}
 input[type="email"]::placeholder, input[type="password"]::placeholder{
    color:#b8b8b8;
}
.basket{
    display:flex;
    align-items: center;
    color:#fff;
    width: 115px;
    height: 33px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    cursor: pointer;
}
.basket img{
    margin: 10px;
}


/* Slideshow */
.slider {
  position: relative;
  width: 100%;
}
.mySlides{
    width: 650px; 
    margin:auto;
}

.hide {
    display: none;
}

.text {
    position: absolute;
  color: #f2f2f2;
  font-size: 50px;
  width: 600px;
  height: 110px;
  left:50%;
  margin-left:-300px;
  text-align: center;
  bottom:180px;
  text-shadow: black 1px 1px 1px;
}
.slider button{
    width: 280px;
    height: 65px;
    font-size: 32px;
    border-radius:30px;
    background-color: #ed5a3d;
    color:#fff;
    border:none;
    box-shadow: 1px 3px #ab5948;
    cursor:pointer;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dots{
    width: 70px;
    margin-right: auto;
    position: relative;
    bottom: 90px;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.phone{
    width: 200px;
    position: absolute;
    right:0;
    color:#fff;
    font-size: 14px;
    text-align: right;
}
.phone>p:last-child{
    font-size: 22px;
    margin-top:5px;
}
.phone>p{
    margin: 0;
}

/*MAIN*/
.additive{
    display: grid;
    margin-top: 35px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 230px;
    grid-column-gap: 25px;
}
.raspbery{
    background-image: url(img/rasp.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.chocko{
    background-image: url(img/chocko.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.addit{
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.addit p{
    font-size:35px;
    color:#fff;
    margin: 0 0 25px 0;
}
.addit span{
    font-size:18px;
    color:#fff;
    margin-bottom: auto;
}
.addit button{
    width: 165px;
    height: 45px;
    background-color: #ef6140;
    border: none;
    color:#fff;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px; 
    box-shadow: 1px 3px #ab5948;
    align-self: flex-end;
}
.chocko button{
    width: 185px;
}

.ice-cream{
    display: grid;
    margin-top: 35px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(230px,auto);
    grid-column-gap: 25px;
    margin-bottom: 40px;
}
.ice{
    text-align: center;
    position: relative;
}
.ice a{
    color:#fff;
    font-size: 16px;
}
.ice img{
    height: auto;
    width: 100%;
}
.popular{
    position:absolute;
    background-color: #fff;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    top:5px;
    left:5px;
}
.price{
    color:#fff;
    text-shadow: black 1px 1px 1px;
    font-size: 45px;
}

/*SEO*/

.seo{
    height: auto;
    width: 100%;
    background-image: url(img/wafer.jpg);
    border-radius: 10px;
    padding: 30px 0;
    margin-bottom: 40px;
}
.seo p{
    font-size: 24px;
    margin:0 20px;
}
.seo-grid{
    margin:20px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    margin-bottom: 0;
}
.seo-flex{
    display: flex;
}
.seo-flex img{
    align-self: flex-start;
}
.seo-flex span{
    margin:20px 0 0 10px ;
}
.newsmail{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(220px,auto);
    grid-column-gap: 25px;
}
.news{
    background-image: url(img/raspb.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 20px;
    border-radius: 15px;
}
.news a{
    color:black;
    font-size: 24px;
    width: 300px;
    display:block;
}
.mail{
    background-image: url(img/mail.png);
    border-radius: 15px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.mail p{
    margin: 35px 25px;
    font-size: 16px;
    color: #8e8e8d;
}
.mail>input[type="email"]{
    width: calc(100% - 220px);
    height: 40px;
    border-radius: 5px;
    border:#d3d3d2 1px solid;
    margin-left: 25px;
    padding: 0 10px;
}

.mail>button{
    width: 130px;
    height: 45px;
    background-color: #ef6140;
    border: none;
    color:#fff;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px; 
    margin-left: 10px;
}